FACTORY_BOT_TOKEN=
ADMIN_ID=
NOTIFY_CHAT_ID=

SOURCE_NAME=الزعيم
SOURCE_REPO=https://github.com/abdalalem11/ZTele.git
SOURCE_BRANCH=master

DEVELOPER=@u_t_r
SOURCE_CHANNEL=@u_t_r

DATA_DIR=./data
ACCOUNTS_DIR=./data/accounts
